@model IEnumerable<project_mvc_web.Models.Convidados>

@{
    ViewData["Title"]="listaFinal";
}

<h2>Lista Final</h2>
<hr />
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Convidados item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>@item.Telefone</td>
            </tr> 
        }
    </tbody>
</table>
